* {
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 30px;
}

.logo {
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% {
        color: rgb(204, 139, 0);
    }

    50% {
        color: rgb(166, 166, 255);
    }

    100% {
        color: rgb(204, 139, 0);
    }
}

.menu-list {

    list-style: none;
    position: absolute;
    right: 100px;
    top: 10px;
    display: flex;
}

.link-head {
    cursor: pointer;
    font-size: 30px;
    margin-right: 30px;
}

.nav-bar {
    background-color: wheat;
    width: 100%;
    height: 50px;
}